python-dotenv
llama-index
llama-index-embeddings-huggingface
llama-index-readers-database
llama-index-readers-paddle-ocr
llama-index-vector-stores-milvus
pymilvus>=2.4.2
FlagEmbedding
transformers
huggingface-hub
pymysql
sqlalchemy
sentence-transformers
paddlepaddle-gpu
paddleocr
PyMuPDF
pdfplumber
fastapi
uvicorn[standard]
python-multipart
